<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
	<title>Assembla Tools</title>
  <link rel="stylesheet" type="text/css" href="/css/at_tools.css">	
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/at_utils.js"></script>
	<script type="text/javascript" src="../js/at_tools.js"></script>
</head>
<body>
<div id="main">
<h1><img src="../assets/Icon_128.png" />Assembla Tools</h1>
<hr/>
<h2 class="menu" id="new">Co nowego!</h2>
<div class="content">
    Wersja 0.0.6:<br/>
    <b>+</b> Dostosowanie szablonu wklejanego w Assemble<br/>
    <b>+</b> Okno 'Assembla Tools'<br/>
    <b>+</b> Zmiana nazwy<br/>
    <b>+</b> Nowa ikony<br/>
</div>
<h2 class="menu" > Opcje</h2>
<div class="content">
    <h3 class="menu" id="menu-template">Szablon</h3>
    <div class="content">
    <textarea id="template"></textarea>
    Szablon wstawiany jest w opis ticketa po kliknięciu symbolu strzykawki.<br/>
    <p align="right">
    <span class="button" id="save-template">Zapisz</span>
    </p>
    </div>
</div>
<h4>Team Rybki</h4>
<div>
</body>
</html>